$color-primary: theme('colors.primary');
$color-secondary: theme('colors.secondary');
$color-primary--gradient: theme('colors.primaryGradient');
$color-secondary--gradient: theme('colors.secondaryGradient');
$gradient--primary: theme('backgroundImage.primaryGradient');
$ff-headers: theme('fontFamily.headers');